*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-overlay: rgba(193, 173, 206, .6);

  --color-primary: #9478A7;
  --color-light-primary: #C1ADCE;

  --color-secondary: rgb(53, 86, 116);
  --color-light-secondary: #D7E6EC;

  --color-white: #FFFFFF;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all .3s ease-in-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: 'Quicksand', sans-serif;
  color: var(--color-secondary);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Square Peg', cursive;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.container {
  width: var(--container-width-md);
  max-width: 1920px;
  margin-inline: auto;
}

/* Button */
.btn {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  border-radius: 2rem;
  font-size: 1.4rem;
  transition: var(--transition);
  display: grid;
  place-items: center;
  max-width: 40rem;
  margin: 0 2rem;
  height: 4rem;
}

.btn:hover {
  filter: brightness(140%);
  transform: scale(1.02);
}

/* Header Image Section */
.header{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  color: var(--color-white);
}
.header img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-overlay{
  position: absolute;
  width: 100%;
  height: 36%;
  top: 32%;
  left: 0;
  background-color: var(--color-overlay);
  z-index: 1;
}
.header-container{
  text-align: center;
  z-index: 2;
}
.header-container h1 {
  letter-spacing: .3rem;
  font-size: 4rem;
}
.header-container h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 4.5rem;
  letter-spacing: .3rem;
  font-weight: 100;
  text-transform: uppercase;
}
.header-container p {
  font-weight: 100;
  padding: 2rem;
  max-width: 60rem;
  margin-inline: auto;
}

/* Bliv Medlem section */
.member-section{
  background-color: var(--color-light-secondary);
  width: 100%;
  height: 38rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.member-section-content{
  max-width: 35rem;
  margin-inline: auto;
}
.member-section-content h2{
  font-size: 6.5rem;
  margin-bottom: 2rem;
  font-weight: 100;
}

/* Footer */
.footer{
  background-color: var(--color-secondary);
  color: var(--color-white);
  width: 100%;
  height: 100%;
}
.footer-wrapper{
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.footer-wrapper h3{
  font-size: 5rem;
  font-weight: 100;
}
.footer-wrapper a{
  color: var(--color-white);
  transition: var(--transition);
}
.footer-wrapper a:hover{
  color: var(--color-light-primary);
}
.contact-us p {
  margin-top: 1rem;
}
.contact-us svg {
  font-size: 2rem;
  margin-right: 1rem;
}
.contact-us a {
  display: flex;
  align-items: center;
}
.some-link{
  font-size: 5rem;
  margin: 0 .5rem;
}

@media screen and (min-width: 768px) {
  .footer-wrapper{
    height: 25rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: var(--container-width-lg);
    margin-inline: auto;
  }
  .btn {
    padding: .6rem 2.6rem;
    font-size: 1.6rem;
  }
}